<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
        <div class="navbar-brand pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left white-color"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand white-color">Choose Widget</a>
        </div>
    </div>
</nav>


<div class="container-fluid divmargin">
    <div class="list-group">
        <li class="list-group-item">
            <a class= "hover-decoration"
              href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/1">
                Header </a>
        </li>

        <li class="list-group-item">
            <a class= "hover-decoration"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/2">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a class= "hover-decoration"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/3">
                Youtube
            </a>
        </li>
        <li class="list-group-item">
            <a class= "hover-decoration"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/4">
                HTML
            </a>
        </li>
    </div>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid bg-primary ">
            <div class="row">
                <div class="  nvbar-header col-xs-12 " >
                    <a href="#/profile/{{model.userId}}" class="  navbar-link pull-right navbar-brand" >
                        <span class="glyphicon glyphicon-user white-color"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
